@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.bolder{
    font-weight: 700;
}
body{
    font-family: 'Rubik',sans-serif;
   
}

.container{
    padding-left: 9rem;
}

header{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logowrapper{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.logowrapper img{
    width: 35px;
    margin-right: 1rem;
}

.lasles{
    font-weight: 500;
}

.vpn{
    font-weight: 700;
    text-transform: uppercase;
}

.nav-links ul{
    
    display: flex;
    gap: 2rem;
    color: #4F5665;
}

.buttons{
    display: flex;
    gap: 1rem;
    padding-right: 8rem;
    align-items: center;
}
button{
    background-color: transparent;
    border: none;
    font-size: 16px;
}
.btn{
    border: 1px solid #F53855;
    padding: 1rem 3rem;
    border-radius: 50px;
    color: red;
}

.btn:hover{
    background-color: #F53855;
    color: #fff;
}

.hero{
    display: flex;
    margin-top: 6rem;
    padding-right: 5rem;
    gap: 1rem;
}
.left-section{
    display: flex;
    width: 50%;
    padding-top: 2rem;
    flex-direction: column;
    gap: 2rem;
}

.left-section h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
}

.left-section p{
    
    font-size: 16px;
    color: #4F5665;
    line-height: 30px;
    letter-spacing: 2;
}

.get-started{

    font-size: 16px;
    background-color: #F54747;
    color: #fff;
    width: 250px;
    padding: 1rem 5rem;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 700;
    box-shadow: #f5474780 0px 48px 100px 0px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.feature{
    display: flex;
    padding: 4rem 10rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 9rem;
    margin-left: 0;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}

.feature-box{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  
}

.iconswrapper{

    padding: 1rem;
    border-radius: 50%;
    border: none;
    background-color: #FFECEC;
}

.border{
    border-right: 2px solid #EEEFF2;
    height: 5rem;
}

.services{
    display: flex;
    gap: 15rem;
}

.left-section h2{

    font-size: 35px;
    font-weight: 500;
    line-height: 50px;

}

.points{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.points p{
    line-height: 10px;
}

.plans{
    padding-top: 5rem;
}

.plans h1{

    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding-bottom: 1rem;

}

.plans p{

    color: #4F5665;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 1rem;
}

.cards-container{

    display: flex;
    padding: 1rem 11rem;
    gap: 2rem;

}

.cards{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 3rem 2rem 3rem;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;

}
.cards:hover{

    border-color: #F54747;
}

.cards:hover .btn{

    background-color: #F53855;
    box-shadow: #f5474780 0px 48px 100px 0px;
    color: #fff;
}

.cards ul li{

    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 14px;
    color: #4F5665;
    padding-bottom: 1rem;
   
}

.network{
    padding-top: 10rem;
}

.network h1{

    font-size: 35px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 1rem;
    line-height: 50px;
}

.network p{

    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-align: center;
    padding-bottom: 5rem;
}

.partners{
    display: flex;
    gap: 2rem;
    padding: 2rem 9rem;
    align-items: center;
}

.testimonials{

    padding-top: 3rem;
}

.testimonials h1{

    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;

}

.testimonials p{

    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    padding-top: 2rem;

}

.feedback-container{

    display: flex;
    gap: 2rem;
    padding-left: 7rem;
}

.testimonial-box {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: 33%;
}

.testimonial-box:hover{
    border-color: #F53855;
}

.testimonial-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-header-left {
    display: flex;
    align-items: center;
}

.testimonial-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.testimonial-rating {
    display: flex;
    align-items: center;
}

.star-image {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.testimonial-box p{
    text-align: left;
}

.testimonials-footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8rem;
    padding-top: 3rem;
   
}

.carousel-controllers{

    display: flex;
    gap: 2rem;
    padding-right: 3rem;
}

.controller{
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 2px solid #F54747;
    color: #F53855;
    border-radius: 50%;
}

.controller2{
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 2px solid #F54747;
    background-color: #F53855;
    border-radius: 50%;

}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    margin: 4rem 9rem;
    padding: 4rem;
}


.content-left h1{

    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    padding-bottom: 1rem;

}

.content-left p{
    color: #4F5665;
}

.content .get-started{
    padding: 1rem;
    display: inline-block;
    height: 50px;
}

footer{
    background-color: #f8f8f8;
}

.footer-container{  

    margin: 5rem 10rem 0rem 10rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon-holder{

    display: flex;
    gap: 2rem;
}

.right-section{
    display: flex;
   gap: 10rem;
}

.link-header{
   
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footer-links ul li{

    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;


}

@media screen and (max-width:1365px){

    .left-section h1{
        font-weight: 500;
        font-size: 40px;
        line-height: 50px;
    }

 
}

@media screen and (max-width:1025px) {


    .hero{
        flex-direction: column;
        gap: 4rem;
    }

    .left-section, .right-section{
        width: 100%;
        text-align: center;
        align-items: center;
    }
}